.modalContainer {
    position: absolute;
    z-index: 888;
}
.modalContainer .backButton{
    position: absolute;
    top: 0;
    left: 0;
}
.modalContainer .closeButton{
    position: absolute;
    top: 0;
    right: 0;
}
.modalContainer .content {
    height: 100%;
}
.modalOverlay {
    position: absolute;
    z-index: 887;
}