.modalContainer {
    position: absolute;
    display: grid;
    grid-template-areas: 
    'controller'
    'content';
    z-index: 888;

    .modalController {
        grid-area: controller;
        top: 0;
        left: 0;

        .backButton{
            position: absolute;
            top: 0;
            left: 0;
        }

        .closeButton{
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .content {
        grid-area: content;
    }
}

.modalOverlay {
    position: absolute;
    z-index: 887;
}
